*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    border-bottom: 2px solid rgba(0, 0.2, 0.2, 0.2);
    justify-content: space-around;
    
}
#container a{
    text-decoration: none;
    float: right;
    margin-right: 40%;
}
#txtHint span {
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
}